@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

:root {
  --bg-default: #eee;
}

/* GENERAL CONFIGURATIONS */
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container > * {
  width: 100%;
  background-color: red;
  width: 100%;
}
.center {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* HEADER */
.header {
  min-height: 10vh;
  background-color: #fff;
  border-bottom: 2px solid #aaa;
}
.header .center .logo-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .center .logo-container .pokemon-logo {
  width: 100px;
  background-position: center;
}

/* MAIN */
.main {
  background-color: green;
  height: 80vh;
}
.main .pokemon-container {
  width: 100vw;
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 250px;
  gap: 20px 40px;
  flex-wrap: wrap;
  background-color: #aaa;
  overflow-y: scroll;
}
.main .pokemon-container::-webkit-scrollbar {
  width: 5px;
}
.main .pokemon-container::-webkit-scrollbar-track {
  background: #aaa;
}
.main .pokemon-container::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border-radius: 10px;
}
.main .pokemon-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.main .pokemon-container .pokemon-card {
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--bg-default);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.2s ease;
}
.main .pokemon-container .pokemon-card:hover {
  margin-top: 2px;
  background-color: #ddd;
}
.main .pokemon-container .pokemon-card .pokemon-card-name {
  font-weight: bold;
  font-size: larger;
  margin-bottom: 15px;
}
.main .pokemon-container .pokemon-card .pokemon-card-image {
  width: 150px;
  height: 150px;
}
.main .pokemon-container .pokemon-card .type-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main .pokemon-container .pokemon-card .type-container .type-card {
  flex: 1;
  padding: 8px;
  margin: 0px 2px;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
}

/* FOOTER */
.footer {
  height: 10vh;
  background-color: #444;
  color: #fff;
}
.footer .center .credits {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
}

.pokemon-modal {
  width: 100%;
  height: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: none;
  visibility: hidden;
  opacity: 0;
}
.pokemon-modal.active {
  visibility: visible;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokemon-modal .pokemon-modal-card {
  background-color: #fff;
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
}
.pokemon-modal .pokemon-modal-card .modal-close-button {
  position: absolute;
  top: 25%;
  right: 25%;
  z-index: 999;
}

.pokemon-modal .pokemon-modal-card .pokemon-modal-content {
  background-color: red;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.pokemon-modal .pokemon-modal-card .pokemon-modal-content .modal-img {
  width: 100px;
}
.pokemon-modal .pokemon-modal-card .pokemon-modal-content .modal-name {
  font-size: medium;
  font-weight: bold;
}
.pokemon-modal .pokemon-modal-card .pokemon-modal-content .modal-type {
  width: 150px;
  height: 30px;
  background-color: blue;
}